{% load js_reverse %}
<!doctype html>
<html lang="en">
    <head>
        <title>Ghibli Movies</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

        <!-- Let JS files the access URL Names of Django -> Urls.UrlName(**parameters) -->
        <script type="text/javascript" charset="utf-8">{% js_reverse_inline %}</script>

        <!-- Bootstrap core JS and Bootstrap JS Requirements -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <!-- Vue Requirements and Packages -->
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
        <script src="https://unpkg.com/http-vue-loader"></script>
    </head>
    <body>
        <div id="app">
            <app-ghibli></app-ghibli>
        </div>
    </body>

    <!-- Vue Application -->
    <script src="/static/main.js"></script>
</html>
